{% extends "base.html" %}{% load i18n staticfiles %}

{% block title %}Login{% endblock %}

{% block content %}

{#    {% include 'includes/blank-div-row.html' %}#}

    <div class="bs-docs-section container container-responsive ">
        {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col-lg-3 col-lg-offset-3">
                    <div class="well bs-component">
                        {% url 'logout' as url_logout %}
                        {% blocktrans %}
                        <p>You are already signed in.</p>
                        <p>If you want to login as another user, please <a href="{{ url_logout }}">logout</a> and re-login.</p>
                        {% endblocktrans %}
                    </div>
                </div>
            </div>
        {% else %}
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="well bs-component">

                    {% include 'includes/django-messags-inc.html' %}

                    <form class="form-horizontal" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <fieldset>
                            <legend>{% trans 'Login' %}</legend>
                            <div class="form-group">
                                <label for="id_username" class="col-lg-2 control-label">{% trans 'Email' %}</label>

                                <div class="col-lg-10">
                                    <input class="form-control" id="id_username" placeholder="{% trans 'user email' %}" autofocus=""
                                           maxlength="254" name="username" required="" type="text" value="{{ request.POST.username }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_password" class="col-lg-2 control-label">{% trans 'Password' %}</label>

                                <div class="col-lg-10">
                                    <input class="form-control" id="id_password" name="password" required=""
                                           placeholder="{% trans 'Password' %}" type="password">

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> {% trans 'Remember me' %}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
                                    <button type="reset" class="btn btn-default">{% trans 'Reset' %}</button>
                                    <input type="hidden" name="next" value="{{ next }}"/>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                    <div>
                        {# Assumes you setup the password_reset view in your URLconf #}
                        <p><a href="{% url 'register' %}">{% trans 'Sign up' %}</a> | <a href="{% url 'password_reset' %}">
                            {% trans 'Forget password' %}?</a></p>
                    </div>
                    <div id="id_socials">
                        <span class="">{% trans 'Sign in with' %}: </span>
                        {% for code, platform in social_platforms.get_items %}
                            {% if platform.enabled %}
                        <a href="{% url 'social' 'login' %}?platform={{ platform.code }}" title="{{ platform.text }}">
                            <i class="{{ platform.icon }} text-info" style="font-size: 18px"></i></a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}

{% block script %}
    {# TODO: password encription #}
    <script language="JavaScript" type="text/javascript">
        $(document).ready(function(){
           $("#id_socials").find("a").tooltip();
        });
    </script>
{% endblock %}