{% extends "base.html" %}{% load i18n staticfiles %}

{% block title %}{% trans 'Profile' %}{% endblock %}

{% block head %}
    {% if redirect %}
    <meta http-equiv="refresh" content="3;url={{ redirect }}">
    {% endif %}
{% endblock %}

{% block content %}

{#    {% include 'includes/blank-div-row.html' %}#}

    <div class="bs-docs-section container container-responsive ">

        <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-4">
                {% include 'includes/profile-card-simple.html' %}
            </div>

            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="well bs-component">

                    <form class="form-horizontal" method="post" action="{% url 'profile' %}">
                        {% csrf_token %}
                        <fieldset>
                            <legend>{% trans "Profile" %}</legend>

                            {% include 'includes/django-messags-inc.html' %}

                            <div class="form-group {% if 'email' in errors %}has-error{% endif %}">
                                <label for="id_email" class="col-lg-3 control-label">{% trans 'Email' %}</label>

                                <div class="col-lg-9">
                                    <span class="form-control" id="id_email">{{ profile.email }}</span>
                                    <span class="help-block small">{% trans 'Account ID, unique in system. Immutable.' %}</span>
                                </div>
                            </div>
                            <div class="form-group {% if 'username' in errors %}has-error{% endif %}">
                                <label for="id_username" class="col-lg-3 control-label">{% trans 'Username' %}</label>

                                <div class="col-lg-9">
                                    <input class="form-control" autofocus="" id="id_username" placeholder="User screen name"
                                           maxlength="150" name="username" required="" type="text" value="{{ profile.username }}">
                                    <span class="help-block small">{% trans 'A unique account/screen name.' %}</span>

                                </div>
                            </div>
                            <div class="form-group {% if 'name' in errors %}has-error{% endif %}">
                                <label for="id_name" class="col-lg-3 control-label">{% trans 'Name' %}</label>

                                <div class="col-lg-9">
                                    <input class="form-control" id="id_name" name="name"
                                           placeholder="Real Name" type="text" value="{{ profile.name|default_if_none:'' }}">
                                    <span class="help-block small">{% trans 'Real name or display name' %}</span>
                                </div>
                            </div>
                            <div class="form-group {% if 'gender' in errors %}has-error{% endif %}">
                                <label for="id_gender" class="col-lg-3 control-label">{% trans 'Gender' %}</label>
                                <div class="col-lg-9">
                                    <div class="radio" id="id_gender">
                                    {% for key, item in Gender.get_texts_and_imgs %}
                                        <label><img class="avatar-sm" src="{{ item.img }}"> <input name="gender" value="{{ key }}" {% if profile.gender == key %}checked=""{% endif %} type="radio">
                                            {{ item.text }}
                                        </label> &nbsp;
                                    {% endfor %}
{#                                        <label><img class="avatar-sm" src="{% static 'twido/img/avatar-man.png' %}"> <input name="gender" id="id_gender1" value="1" {% if profile.gender %}checked=""{% endif %} type="radio">#}
{#                                            {% trans 'Male' %}#}
{#                                        </label> &nbsp;#}
{#                                        <label><img class="avatar-sm" src="{% static 'twido/img/avatar-woman.png' %}"> <input name="gender" id="id_gender2" value="" {% if not profile.gender %}checked=""{% endif %}  type="radio">#}
{#                                            {% trans 'Female' %}#}
{#                                        </label>#}
{#                                        {% for key, item in Gender.get_texts_and_icons %}#}
{#                                        <label><i class="{{ item.icon }}"></i> <input name="gender" value="{{ key }}" {% if profile.gender == key %}checked=""{% endif %}  type="radio">#}
{#                                            {{ item.text }}#}
{#                                        </label>#}
{#                                        {% endfor %}#}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group {% if 'timezone' in errors %}has-error{% endif %}">
                                <label for="id_timezone" class="col-lg-3 control-label">{% trans 'Timezone' %}</label>

                                <div class="col-lg-9">
                                    <input class="form-control" id="id_timezone" name="timezone"
                                           placeholder="Timezone" type="text" value="{{ profile.timezone|default_if_none:'' }}">
                                </div>
                            </div>
                            <div class="form-group {% if 'location' in errors %}has-error{% endif %}">
                                <label for="id_location" class="col-lg-3 control-label">{% trans 'Location' %}</label>

                                <div class="col-lg-9">
                                    <input class="form-control" id="id_location" name="location"
                                           placeholder="San Jose, US" type="text" value="{{ profile.location|default_if_none:'' }}">
                                    <span class="help-block small">{% trans 'Where I am living in.' %}</span>
                                </div>
                            </div>
                            <div class="form-group {% if 'lang' in errors %}has-error{% endif %}">
                                <label for="id_lang" class="col-lg-3 control-label">{% trans 'Language' %}</label>

                                <div class="col-lg-9">
{#                                    <input class="form-control" id="id_lang" name="lang"#}
{#                                           placeholder="Language" type="text" value="{{ profile.lang|default_if_none:'en' }}">#}

                                    <select class="form-control" id="id_lang" name="lang" name="language">
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% get_language_info_list for ALL_LANGUAGES as languages %}
                                        {% for language in languages %}
                                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                                    selected{% endif %}>
                                                {{ language.name_local }} ({{ language.code }})
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <span class="help-block small">{% trans 'Language I speak.' %}</span>
                                </div>
                            </div>
                            <div class="form-group {% if 'img_url' in errors %}has-error{% endif %}">
                                <label for="id_img_url" class="col-lg-3 control-label">{% trans 'Image' %}</label>

                                <div class="col-lg-9">
                                    <input class="form-control" id="id_img_url" name="img_url"
                                           placeholder="Image" type="text" value="{{ profile.img_url | default_if_none:'' }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-9 col-lg-offset-3">
                                    <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                                    <button type="reset" class="btn btn-default">{% trans 'Reset' %}</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript" language="JavaScript">
    </script>
{% endblock %}