django==1.10
tweepy>=3.5.0
simplejson
requests
parsedatetime
#mysqlclient
gunicorn
termcolor

django-bootstrap-themes
django-simple-email-confirmation

# debug & test
django-debug-toolbar
pygments

#dateparser

#jinja2
#egenix-mx-base
#sutime
