django==1.10
tweepy>=3.5.0
simplejson
requests
dateparser
#mysqlclient
gunicorn

django-bootstrap-themes
django-simple-email-confirmation

# debug & test
django-debug-toolbar
pygments

#jinja2
#egenix-mx-base
#sutime
