{% load staticfiles i18n %}{% load bootstrap_themes %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{# TITLE BLOCK #}{% endblock %} - My WishList 2</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'twido/img/favicon.ico' %}"/>
    {# bootstrap requires 1.9.1 < jquery < 3.0.0 #}
{#    <script src="{% static 'twido/js/jquery-3.1.1.min.js' %}"></script>#}
    <script src="{% static 'twido/js/jquery-2.2.4.min.js' %}"></script>

    {% bootstrap_styles theme=theme type='min.css' %}
    {#{% bootstrap_styles theme='simplex' type='css' %}#}
    {#{% bootstrap_styles theme='simplex' type='less' %}#}
    {% bootstrap_script use_min=True %}
    <link href="{% static 'twido/css/bootstrap3-custom.min.css' %}" rel="stylesheet">  <!-- for simplex theme-->

    <link href="{% static 'twido/css/open-sans.css' %}" rel="stylesheet">
    <link href="{% static 'twido/css/main.css' %}" rel="stylesheet">

    <script src="{% static 'twido/js/js.cookie.js' %}"></script>
    <script src="{% static 'twido/js/main.js' %}"></script>

    {% block head %}{# HEAD BLOCK #}{% endblock %}
</head>

{#<body background="{% static 'twido/img/bg.jpg' %}">#}
<body>

{% include "includes/topnavbar.html" %}

{#<div class="row">#}
{#    <div>&nbsp;</div>#}
{#</div>#}

{#{% include "includes/message.html" %}#}

{% block content %}{# CONTENT BLOCK #}{% endblock %}

{% block script %}{# SCRIPT BLOCK #}{% endblock %}

</body>

</html>