{% load staticfiles i18n %}{% load bootstrap_themes %}
<!DOCTYPE html>
<html>
<head lang="{{ LANGUAGE_CODE|default:'en' }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{# TITLE BLOCK #}{% endblock %} {{ website.name }}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'twido/img/favicon.ico' %}"/>
    {# bootstrap requires 1.9.1 < jquery < 3.0.0 #}
{#    <script src="{% static 'twido/js/jquery-3.1.1.min.js' %}"></script>#}
    <script src="{% static 'twido/js/jquery-2.2.4.min.js' %}"></script>

    {% bootstrap_styles theme=theme type='min.css' %}
    {% bootstrap_script use_min=True %}
    <link href="{% static 'twido/css/bootstrap3-custom.min.css' %}" rel="stylesheet">  <!-- for simplex theme-->

    <link href="{% static 'twido/font/flaticon-avatar/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'twido/font/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
{#    <link href="{% static 'twido/font/flaticon-social/flaticon.css' %}" rel="stylesheet">#}
    <link href="{% static 'twido/css/open-sans.css' %}" rel="stylesheet">
    <link href="{% static 'twido/css/main.css' %}" rel="stylesheet">

    <script src="{% static 'twido/js/js.cookie.js' %}"></script>
    <script src="{% static 'twido/js/main.js' %}"></script>

    {% block head %}<!-- HEAD BLOCK -->{% endblock %}
</head>

{#<body background="{% static 'twido/img/bg.jpg' %}">#}
{#<body class="{% if view_size == 'S' %}small{% endif %} {% if view_size == 'L' %}large{% endif %}">#}
<body>

{% include "includes/topnavbar.html" %}
{% include 'includes/blank-div-row.html' %}

{#{% block leftside %}<!-- SIDEBAR BLOCK -->{% endblock %}#}

{% block content %}<!-- CONTENT BLOCK -->{% endblock %}

{% block footer %}
    <div class="modal-footer">
{#        <i class="glyphicon glyphicon-copyright-mark"></i>#}
        <ul class="list-inline">
        <li>© 2017 SamC, Studio. All rights reserved.</li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
{% endblock %}

{% block script %}<!-- SCRIPT BLOCK -->{% endblock %}

</body>

</html>
