{% extends "base.html" %}{% load staticfiles %}

{% block title %}test{% endblock %}

{% block head %}
    <link href="{% static 'bootstrap3-editable/css/bootstrap-editable.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap3-editable/js/bootstrap-editable.js' %}"></script>
    <link href="{% static 'twido/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'twido/js/bootstrap-datetimepicker.min.js' %}"></script>
{#    <link href="{% static 'twido/css/select2.min.css' %}" rel="stylesheet" type="text/css">#}
{#    <script src="{% static 'twido/js/select2.full.min.js' %}"></script>#}
    <link href="{% static 'twido/css/select2-3.4.4.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'twido/js/select2-3.4.4.js' %}"></script>
    <link href="{% static 'twido/css/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
    <H2>Twido Test 1</H2>

    {% include 'includes/blank-div-row.html' %}



<div style="margin: 150px">
    <a href="#" id="username" data-value="2">found by ID</a>
</div>


{% endblock %}

{% block script %}
    <script type="text/javascript" language="JavaScript">
    $('#username').editable({
  type: 'select2',
  url: '/todolist/3/',
  pk: 1,
  onblur: 'submit',
  emptytext: 'None',
     select2: {
                placeholder: 'Select a Requester',
                allowClear: true,
                width: '230px',
                minimumInputLength: 3,
                id: function (e) {
                    return e.EmployeeId;
                },
                ajax: {
                    url: '/json/usernames/',
                    dataType: 'json',
                    data: function (term, page) {
                        return { query: term };
                    },
                    results: function (data, page) {
                        return { results: data };
                    }
                },
                formatResult: function (employee) {
                    return employee.text;
                },
                formatSelection: function (employee) {
                    return employee.text;
                },
                initSelection: function (element, callback) {
                    return $.get('/json/usernames/', { query: element.val() }, function (data) {
                        callback(data);
                    }, 'json'); //added dataType
                }
            }
    /* suucess not needed
     ,
           success: function(response) {
                $('#RequestUser').text(response.newVal);
            }
            */
});

    </script>
{% endblock %}