    {% load staticfiles %}
    <link href="{% static 'bootstrap3-editable/css/bootstrap-editable.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap3-editable/js/bootstrap-editable.js' %}"></script>
    <link href="{% static 'twido/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'twido/js/bootstrap-datetimepicker.min.js' %}"></script>
{#    <link href="{% static 'twido/css/select2.min.css' %}" rel="stylesheet" type="text/css">#}
{#    <script src="{% static 'twido/js/select2.full.min.js' %}"></script>#}
    <link href="{% static 'select2-3.4.4/select2.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'select2-3.4.4/select2.js' %}"></script>
    <link href="{% static 'twido/css/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css">