{# Account Linking setting #}
{# vars: errors - field_name:error_message pair #}
{#       configs - the config dict #}
{% load i18n %}<!-- BEGIN general setting -->
                                <fieldset>
                                    <legend>{% trans "General" %}</legend>

                                    <div class="form-group {% if 'lang' in errors %}has-error{% endif %}">
                                        <label for="id_lang" class="col-lg-3 control-label">{% trans 'Language' %}</label>

                                        <div class="col-lg-9">
{#                                            <input class="form-control editable" id="id_lang" name="lang" data-name="lang" data-type="select"  value="{{ conf.lang }}">#}
                                            <span class="form-control editable" id="id_lang" data-type="select" data-name="lang" data-pk="{{ conf.lang.id }}" ></span>
                                            <span class="help-block small">{% trans 'Preferred UI display language and formats.' %}</span>
                                        </div>
                                    </div>

                                    <div class="form-group {% if 'theme' in errors %}has-error{% endif %}">
                                        <label for="id_theme" class="col-lg-3 control-label">{% trans 'Theme' %}</label>

                                        <div class="col-lg-9">
                                            <span class="form-control editable" id="id_theme" data-type="select" data-name="theme" data-pk="{{ conf.theme.id }}" ></span>
                                            <span class="help-block small">{% trans 'Theme to render the site.' %}</span>
                                        </div>
                                    </div>

{#                                    <div class="form-group {% if 'view_size' in errors %}has-error{% endif %}">#}
{#                                        <label for="id_view_size" class="col-lg-3 control-label">{% trans 'Font Size' %}</label>#}
{##}
{#                                        <div class="col-lg-9">#}
{#                                            <span class="form-control editable" id="id_view_size" data-type="select" data-name="view_size" data-pk="{{ conf.view_size.id }}" ></span>#}
{#                                            <span class="help-block small">{% trans 'Size to view the site.' %}</span>#}
{#                                        </div>#}
{#                                    </div>#}

                                </fieldset>
                                <script language="JavaScript" type="text/javascript">
{#                                    {% get_current_language as LANGUAGE_CODE %}#}
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    $(document).ready(function(){
                                        var languages = [
                                                {% for language in languages %}
                                                {value: "{{ language.code }}", text: "{{ language.name_local }} ({{ language.code }})"},
                                                {% endfor %}
                                            ];
                                        $('#id_lang').editable({
                                            url: "{% url 'setting' %}",
                                            value: "{{ conf.lang.value }}",
                                            source: languages,
                                            success: function (response, newValue) {
                                                if (response.status == "error") {
                                                    return response.msg;
                                                } else {
{#                                                    location.reload();#}
                                                }
                                            }
                                        });

                                        var themes = [
                                            {% for theme in themes %}
                                            {value: "{{ theme.0 }}", text: "{{ theme.1 }}"},
                                            {% endfor %}
                                        ];
                                        $('#id_theme').editable({
                                            url: "{% url 'setting' %}",
                                            value: "{{ conf.theme.value }}",
                                            source: themes,
                                            success: function (response, newValue) {
                                                if (response.status == "error") {
                                                    return response.msg;
                                                } else {
                                                    location.reload();
                                                }
                                            }
                                        });

{#                                        var view_sizes = [#}
{#                                            {value: 'G', text: "{% trans 'general'|capfirst %}"},#}
{#                                            {value: 'S', text: "{% trans 'small'|capfirst %}"},#}
{#                                            {value: 'L', text: "{% trans 'large'|capfirst %}"},#}
{#                                        ];#}
{#                                        $('#id_view_size').editable({#}
{#                                            url: "{% url 'setting' %}",#}
{#                                            value: "{{ conf.view_size.value|default:'G' }}",#}
{#                                            source: view_sizes,#}
{#                                            success: function (response, newValue) {#}
{#                                                if (response.status == "error") {#}
{#                                                    return response.msg;#}
{#                                                } else {#}
{#                                                    location.reload();#}
{#                                                }#}
{#                                            }#}
{#                                        })#}
                                    });

                                </script>
<!-- END general setting -->
