{% extends "base.html" %}{% load staticfiles i18n customer_tags %}

{% block title %}{% trans 'Home' %}{% endblock %}

{% block head %}
{#    <link rel="{% static 'jqueryui/dragdrop/jquery-ui.min.css' %}">#}
    <script language="JavaScript" src="{% static 'jqueryui/dragdrop/jquery-ui.min.js' %}"></script>
    {% include 'includes/editable-head-ref.html' %}
{% endblock %}

{% block content %}

    <div class="bs-docs-section container-fluid container-responsive">

{#        {% include 'includes/blank-div-row.html' %}#}

{#        <div class="page-header">#}
{#            <div class="row">#}
{#                <div class="col-lg-2 col-lg-offset-1"><h4>Wish List</h4></div>#}
{#                <div class="col-lg-6">#}
{#                    <h4>Todo List</h4>#}
{#                </div>#}
{#                <div class="col-lg-2"><h4>New users</h4></div>#}
{#            </div>#}
{#        </div>#}

        <div class="row">
            <!-- left col -->
            <div class="col-lg-3 col-md-3">
                <div class="bs-component">
                    {% include 'twido/includes-list/todolists-menu.html' %}
{#                    {% include 'twido/includes-list/wishlists-menu.html' %}#}
                </div>
            </div>

            <!-- main col -->
            <div class="col-lg-8 col-md-8">
                <div class="bs-component">
                    {% for taskset in task_sets %}
                        <div class="panel panel-default" name="{{ taskset.title }}">
                            <div class="panel-heading">
                                <ul class="list-inline">
                                    <li><h3 class="panel-title">{{ taskset.title|capfirst }}</h3></li>
                                    <li class="pull-right small">
                                        <a href="#"><i class="glyphicon glyphicon-folder-open"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body">{{ taskset.text }}</div>
                            {% with taskset.tasks as page %}
                            <div class="small">
                                {% include 'twido/includes-list/tasks.html' %}
                            </div>
                            {% endwith %}
{#                            <ul class="list-group">#}
{#                                {% for task in taskset.tasks %}#}
{#                                    <li class="list-group-item small">#}
{#                                        <ul class="list-inline">#}
{#                                            <li><i title={{ task.get_status_text }} class="{{ task.get_status_glyphicon }}"></i></li>#}
{#                                            <li>{{ task.title | url2link | safe }}</li>#}
{#                                            <li class="top-right">#}
{#                                                <span title="Deadline" class="small">#}
{#                                                    {{ task.deadline |default_if_none:'<i class="glyphicon glyphicon-time"></i>' }}#}
{#                                                </span>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- right col -->
            <div class="col-lg-2">
                <div class="bs-component small">

                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block script %}
    {#    <script type="text/javascript" src="{% static 'pyqueuer/js/GitHub-Repo-Widget.min.js' %}"></script>#}
    <script language="javascript" type="text/javascript">
        $(document).ready(function(e){
            $(".editable").addClass('no_underline').css("cursor", "pointer");
        });
    </script>
{% endblock %}