{% extends "base.html" %}{% load customer_tags staticfiles i18n %}

{% block title %}{% trans 'Tasks' %}{% endblock %}

{% block head %}
    <script language="JavaScript" src="{% static 'jqueryui/dragdrop/jquery-ui.min.js' %}"></script>
{#    <script language="JavaScript" src="{% static 'jqueryui/jquery.ui.touch-punch.min.js' %}"></script>#}
    {% include 'includes/editable-head-ref.html' %}
{% endblock %}

{% block content %}

    <div class="container-fluid container-responsive">

        <div class="row">

            <!-- left sidebar show/hide button -->
            <div class="hidden-lg hidden-md hidden-sm">
                <a id="id_sidebar_left_btn" title="{% if thelist.is_sys %}{% trans thelist.text|default_if_none:'' %}{% else %}{{ thelist.text|capfirst }}{% endif %}" class="btn btn-default btn-block dropdown-toggle">
                    <span class="sr-only">{% trans 'Toggle sidebar' %}</span>
                    <i class="fa fa-chevron-right"> </i>
                    <span>{{ thelist.get_name }}</span>
                </a>
            </div>

            <!-- left sidebar -->
            <div id="id_sidebar_left" class="col-lg-3 col-md-4 col-sm-5 hidden-xs">

                <!-- menu -->
                <div class="bs-component">
                    {% include 'twido/includes-list/lists-menu.html' %}
                </div>

                <!-- list action buttons -->
                {% include 'twido/includes-list/list-buttons.html' %}

                <!-- list form -->
                {% if not thelist.is_sys %}
                <div class="bs-component">
                {% include 'twido/includes-list/list-form.html' %}
                </div>
                {% endif %}

            </div>

            <!-- main col -->
            <div class="col-lg-8 col-md-7 col-sm-7">
                <div class="row">

                    <div class="bs-component">

                        <div class="panel">
                            {% include 'includes/django-messags-inc.html' %}
                        </div>

                        <!-- list form -->
                        {% if thelist.is_sys %}
                        <div class="bs-component">
                        {% include 'twido/includes-list/list-form.html' %}
                        </div>
                        {% else %}
                            <div class="text-center hidden-sm hidden-xs">
                                <H3>{{ thelist.name }}</H3>
                                <span class="help-block">{{ thelist.text | default_if_none:'' }}</span>
                            </div>
                        {% endif %}

                        <!-- tasks in the list -->
                        {% include 'twido/includes-list/tasks.html' %}

                        <!-- buttons for task -->
                        {% include 'twido/includes-list/task-buttons.html' %}
                    </div>

                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block script %}


    <script type="text/javascript" language="JavaScript">

    $(document).ready(function(){

        $(".editable").addClass('no_underline').css("cursor", "pointer");

        {# --- drag & drop to move --- #}
        $("[name='tasks_incl']").find(".list-group-item").draggable({
            cursor: "move",
            cursorAt: {top: 0, left: 0},
            helper: function (event) {
{#                return $('<li class="list-group-item small">' + $(this).text() + '</li>');#}
                $(this).fadeOut().fadeIn();
                return $('<i class="glyphicon glyphicon-tasks large"></i>');
            }
        });
        $("[name='lists_incl']").find(".list-group-item.dropable").droppable({
            accept: '.list-group-item',
            classes: {
                "ui-droppable-hover": "list-group-item-info"
            },
            drop: function (event, ui) {
                if ($(this).hasClass('active')) return ;
                var list_id = $(this).data("id");
                var task_id = ui.draggable.data("id");
                move_task(task_id, list_id);
                badge_count($(this).parent().find(".active").find(".badge"), -1);
                badge_count($(this).find(".badge"), 1);
                $(this).fadeOut().fadeIn();
            }
        });

        <!-- show/hide sidebar -->
        $("#id_sidebar_left_btn").click(function(){
            $(this).tooltip();
            var sidebar = $("#id_sidebar_left");
            if (sidebar.hasClass("hidden-sm") && sidebar.hasClass("hidden-xs")) {
                sidebar.removeClass("hidden-sm").removeClass("hidden-xs");
                $(this).find('i').attr("class", "fa fa-chevron-down");
            } else {
                sidebar.addClass("hidden-sm").addClass("hidden-xs");
                $(this).find('i').attr("class", "fa fa-chevron-right");
            }
        });
    });

    function move_task(task_id, list_id) {
        var entry = $("ul[name='tasks_incl']").find("[data-id='" + task_id + "']");
        var task_name = entry.find("span[data-name='title']").text();
        var list_name = $("[name='lists_incl']").find("[data-id='" + list_id + "']").data('name');

        $.ajax("{{ request.path }}", {
            method: 'POST',
            data: {
                action: "move-task",
                task_id: task_id,
                list_id: list_id
            },
            success: function (resp) {
                _success('{% trans 'Task "{0}" moved to list "{1}".' %}'.f(task_name, list_name), true);  // message incl
                console.debug('Task "' + task_name + '" (id=' + task_id + ') moved to list "' + list_name + '"');
                entry.fadeOut();
            },
            error: function (resp) {
                _error('{% trans 'Fail to move task "{0}". <br>Status: {1} <br>Content: {2}' %}'.f(
                                task_name, resp.status, resp.statusText),
                        true);    // message incl
                entry.fadeOut().fadeIn().fadeOut().fadeIn();
                return resp.status + ' ' + resp.statusText;
            }
        });
    }

    </script>
{% endblock %}
