{% extends "base.html" %}{% load customer_tags staticfiles i18n %}

{% block title %}{% trans 'Tasks' %}{% endblock %}

{% block head %}
    <script language="JavaScript" src="{% static 'jqueryui/dragdrop/jquery-ui.min.js' %}"></script>
{#    <script language="JavaScript" src="{% static 'jqueryui/jquery.ui.touch-punch.min.js' %}"></script>#}
    {% include 'includes/editable-head-ref.html' %}
{% endblock %}

{% block content %}

    <div class="container-fluid container-responsive">

        <div class="row">

            <!-- left col -->
            <div class="col-lg-4 col-md-4">
                <!-- menu -->
                <div class="bs-component">
                    {% include 'twido/includes-list/lists-menu.html' %}
                </div>

                <!-- button -->
                <div class="bs-component">
                    <form id="id_form_action" action="{{ request.path }}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action">
                        <div class="btn-group btn-group-justified btn-group-sm">
                            <a name="add" title="{% trans 'Create a new list' %}" class="btn btn-default btn-block"><i class="glyphicon glyphicon-list"></i> {% trans 'Create List' %}</a>
                            {% if not thelist.is_sys %}
                            <a name="del" title="{% trans 'Delete current list' %}" data-toggle="confirmation" class="btn btn-default btn-block"><i class="glyphicon glyphicon-remove"></i> {% trans 'Delete List' %}</a>
                            {% endif %}
                            <a name="export" title="{% trans 'Export current list' %}" class="btn btn-default btn-block"><i class="glyphicon glyphicon-export"></i> {% trans 'Export List' %}</a>
                            <a name="import" title="{% trans 'Import a list' %}" class="btn btn-default btn-block"><i class="glyphicon glyphicon-export"></i> {% trans 'Import List' %}</a>
                        </div>
                    </form>
                    <form id="id_form_upload" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {#  TODO: handle big file / streaming #}
                        <input type="hidden" name="action" value="import">
                        <input type="file" id="id_file_upload" name="choose_file" onchange="$(this).closest('form').submit();" style="display: none" />
                    </form>
                </div>

                <!-- list form -->
                {% if not thelist.is_sys %}
                <div class="bs-component">
                {% include 'twido/includes-list/list-form.html' %}
                </div>
                {% endif %}

            </div>

            <!-- main col -->
            <div class="col-lg-7 col-md-7">
                <div class="row">

                    <div class="bs-component">

{#                        <h2 id="listname" class="text-center">{{ thelist.name | upper }}</h2>#}
                        <div class="panel">
                            {% include 'includes/django-messags-inc.html' %}
                        </div>

                        <!-- list form -->
                        {% if thelist.is_sys %}
                        <div class="bs-component">
                        {% include 'twido/includes-list/list-form.html' %}
                        </div>
                        {% endif %}

                        {% include 'twido/includes-list/tasks.html' %}
                        <div class="btn-group btn-group-justified btn-group-sm">
                            <a name="add-task" title="{% trans 'Add a task to current list' %}" class="btn btn-info btn-block"><i class="glyphicon glyphicon-plus"></i> {% trans 'Create Task' %}</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block script %}


    <script type="text/javascript" language="JavaScript">

    $(document).ready(function(){

        $(".editable").addClass('no_underline').css("cursor", "pointer");


        var form_action = $("#id_form_action");

        $("a.btn").tooltip({container: 'body'}).click(function(e){
            var action = $(this).attr('name');
            form_action.find("input[name='action']").val(action);
            // if action is "del" related, need to confirm
            // if upload, need to let user to choose file.
            if ($.inArray(action, ['del', 'del-task', 'import']) < 0) form_action.submit();
{#            $(this).disable();#}
        });

        form_action.find('a[name="del"]').confirmation({
            onConfirm: function () {
                form_action.submit();
            },
            html: 'true',
            title: '<span class="text-danger">{% trans 'DANGER : Delete list' %} "{{ thelist.name }}(id:{{ thelist.id }})" ?</span>'
                        +'<p/><p class="small">{% trans 'All tasks in this list will be moved to default list' %}',
            placement: 'right'
        });

        form_action.find('a[name="import"]').click(function(e){
            var choose_file = $('input[name="choose_file"]');
            choose_file.click();
        });


        {# --- drag & drop to move --- #}
        $("[name='tasks_incl']").find(".list-group-item").draggable({
            cursor: "move",
            cursorAt: {top: 0, left: 0},
            helper: function (event) {
{#                return $('<li class="list-group-item small">' + $(this).text() + '</li>');#}
                $(this).fadeOut().fadeIn();
                return $('<i class="glyphicon glyphicon-tasks large"></i>');
            }
        });
        $("[name='lists_incl']").find(".list-group-item.dropable").droppable({
            accept: '.list-group-item',
            classes: {
                "ui-droppable-hover": "list-group-item-info"
            },
            drop: function (event, ui) {
                if ($(this).hasClass('active')) return ;
                var list_id = $(this).data("id");
                var task_id = ui.draggable.data("id");
                move_task(task_id, list_id);
                badge_count($(this).parent().find(".active").find(".badge"), -1);
                badge_count($(this).find(".badge"), 1);
                $(this).fadeOut().fadeIn();
            }
        });

    });

    function move_task(task_id, list_id) {
        var entry = $("ul[name='tasks_incl']").find("[data-id='" + task_id + "']");
        var task_name = entry.find("span[data-name='title']").text();
        var list_name = $("[name='lists_incl']").find("[data-id='" + list_id + "']").data('name');

        $.ajax("{{ request.path }}", {
            method: 'POST',
            data: {
                action: "move-task",
                task_id: task_id,
                list_id: list_id
            },
            success: function (resp) {
                _success('{% trans 'Task "{0}" moved to list "{1}".' %}'.f(task_name, list_name), true);  // message incl
                console.debug('Task "' + task_name + '" (id=' + task_id + ') moved to list "' + list_name + '"');
                entry.fadeOut();
            },
            error: function (resp) {
                _error('{% trans 'Fail to move task "{0}". <br>Status: {1} <br>Content: {2}' %}'.f(
                                task_name, resp.status, resp.statusText),
                        true);    // message incl
                entry.fadeOut().fadeIn().fadeOut().fadeIn();
                return resp.status + ' ' + resp.statusText;
            }
        });
    }

    </script>
{% endblock %}
