{% extends "base.html" %}{% load i18n %}

{% block title %}{% trans 'Setting' %}{% endblock %}

{% block head %}
    {% include 'includes/editable-head-ref.html' %}
    <script language="JavaScript" type="text/javascript">
        $.fn.editable.defaults.mode = 'inline';
        $.fn.editable.defaults.showbuttons = false;
        $.fn.editable.defaults.onblur = 'submit';
    </script>
{% endblock %}

{% block content %}

{#    {% include 'includes/blank-div-row.html' %}#}

    <div class="bs-docs-section container container-responsive ">

        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-4">
                {% include 'includes/profile-card-simple.html' %}

                {# left siderbar menu #}
                <div class=" table-of-contents list-group">
                    <a class="list-group-item active" href="#general" data-toggle="tab" aria-expanded="true">{% trans 'General' %}</a>
                    <a class="list-group-item" href="#account" data-toggle="tab" aria-expanded="true">{% trans 'Link Accounts' %}</a>
                    {#                    <a class="list-group-item active" href="#profile" data-toggle="tab" aria-expanded="true">Profile</a>#}
                    {#                    <a class="list-group-item disabled" href="#profile">Disabled</a>#}
                    {#                    <li class="list-group-item dropdown">#}
                    {#                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">#}
                    {#                            Dropdown <span class="caret"></span>#}
                    {#                        </a>#}
                    {#                        <ul class="dropdown-menu">#}
                    {#                            <li><a href="#dropdown1" data-toggle="tab">Action</a></li>#}
                    {#                            <li class="divider"></li>#}
                    {#                            <li><a href="#dropdown2" data-toggle="tab">Another action</a></li>#}
                    {#                        </ul>#}
                    {#                    </li>#}
                </div>


            </div>

            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="well bs-component">
                    <form class="form-horizontal" method="post" action="{% url 'setting' %}">
                        {% csrf_token %}
                        <div id="myTabContent" class="tab-content">

                            {# Message & error #}
                            {% include 'includes/django-messags-inc.html' %}

                            {# ----- Hidden Tabs ----- #}

                            {# General Setting #}
                            <div class="tab-pane fade active in" id="general">
                                {% include 'includes/settings/general.html' %}
                            </div>

                            {# Account Linking Setting #}
                            <div class="tab-pane fade" id="account">
                                {% include 'includes/settings/acount-link.html' %}
                            </div>

                            <div class="tab-pane fade" id="dropdown1">
                                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's
                                    organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify
                                    pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy
                                    hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred
                                    pitchfork.</p>
                            </div>

                        </div>


{#                        <div class="form-group">#}
{#                            <div class="col-lg-9 col-lg-offset-3">#}
{#                                <button type="submit" class="btn btn-primary">Save</button>#}
{#                                <button type="reset" class="btn btn-default">Cancel</button>#}
{#                            </div>#}
{#                        </div>#}
                    </form>

                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript" language="JavaScript">
        $(".list-group-item").click(function(e){
            $(".list-group-item.active").removeClass('active');
            $(this).addClass('active');

            var tab = $(this).attr('href');
            var tmp = window.location.toString().split('#');
            window.location = tmp[0] + tab;
        });
        function swith_tab(tab) {
            if (!tab) {
                var tmp = window.location.toString().split('#');
                if (tmp.length > 1)
                    tab = tmp[1];
            }
            if (!tab) tab = 'general';
            $(".list-group-item").filter("[href='#" + tab + "']").click();
        };

        swith_tab();

    </script>
{% endblock %}