{% extends "base.html" %}{% load i18n %}

{% block title %}{% trans 'Setting' %}{% endblock %}

{% block head %}

{% endblock %}

{% block content %}


{#    {% include 'includes/blank-div-row.html' %}#}


    <div class="bs-docs-section container container-responsive ">

        <div class="row">

            <div class="col-lg-8 col-md-8 col-sm-8">
                {% include 'includes/django-messags-inc.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" language="JavaScript">

    </script>
{% endblock %}