{% extends "base.html" %}{% load customer_tags staticfiles i18n %}

{% block title %}{% trans 'Task Detail' %}{% endblock %}

{% block head %}
{#    <script language="JavaScript" src="{% static 'jqueryui/dragdrop/jquery-ui.min.js' %}"></script>#}
    {% include 'includes/editable-head-ref.html' %}
    {% if debug %}
    <style type="text/css">
        {{ css | safe }}
    </style>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="container-fluid container-responsive">

        <div class="row">
            <!-- left col -->
            <div class="col-lg-3 col-md-4 col-sm-5">

{#                <div class="panel panel-default" name="{{ thetask.list.name }}">#}
{#                    <div class="panel-heading small">#}
{#                        <h3 class="panel-title">{{ thetask.list.get_name|capfirst }}</h3>#}
{#                    </div>#}
{#                    {% include 'twido/includes-list/tasks.html' %}#}
{#                </div>#}

                <div class="panel panel-default" name="{{ thetask.list.name }}">
                    <div class="panel-heading small">
                        <ul class="list-inline">
                            <li><h3 class="panel-title">{% if thetask.list.is_default %}{% trans 'Default List' %}{% else %}{{ thetask.list.name|capfirst }}{% endif %}</h3></li>
                        </ul>
                    </div>
                    <ul class="list-group">
                        {% for task in page %}
                            <a href="{% url 'task' task.id %}?p={{ page.number }}" class="list-group-item small {% if thetask.id == task.id %}active{% endif %}">
                                <ul class="list-inline">
                                    <li><i title={{ task.get_status_text }} class="{{ task.get_status_icon }}"></i></li>
                                    <li>{{ task.title | safe }}</li>
                                    <li class="top-right">
                                        <span title="{% trans 'Due' %}" class="small">
                                            {{ task.due |default_if_none:'<i class="glyphicon glyphicon-time"></i>' }}
                                        </span>
                                    </li>
                                </ul>
                            </a>
                        {% endfor %}
                    </ul>
                    <div class="text-center">
                        {% include 'includes/paginatition.html' %}
                    </div>
                </div>

                <div class="bs-component">
                    <form id="id_form_action" action="{{ request.path }}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action">
                        <input type="hidden" name="list_id" value="{{ thetask.list_id }}">
                        <div class="btn-group btn-group-justified btn-group-sm">
                            <a name="add-task" title="{% trans 'Add a task to current list' %}" class="btn btn-default btn-block"><i class="glyphicon glyphicon-plus"></i> {% trans 'Add Task' %}</a>
                            <a name="del-task" title="{% trans 'Delete current task' %}" data-toggle="confirmation" class="btn btn-default btn-block"><i class="glyphicon glyphicon-remove"></i> {% trans 'Delete Task' %}</a>
                        </div>
                    </form>
                </div>
            </div>

            <!-- main col -->
            <div class="col-lg-8 col-md-7 col-sm-6">
                <div class="row">
                    {% include 'includes/django-messags-inc.html' %}
                    {% include 'twido/includes-list/task-form.html' %}
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block script %}


    <script type="text/javascript" language="JavaScript">

        $(document).ready(function(){
            $(".editable").addClass('no_underline').css("cursor", "pointer");

            var form_action = $("#id_form_action");

            form_action.find("a.btn").tooltip({container: 'body'}).click(function(e){
                var action = $(this).attr('name');
                form_action.find("input[name='action']").val(action);
                // if action is "del" related, need to confirm
                if ($.inArray(action, ['del-task' ]) < 0) form_action.submit();
    {#            $(this).disable();#}
            });

            form_action.find('a[name="del-task"]').confirmation({
                onConfirm: function () {
                    form_action.submit();
                },
                html: 'true',
                title: '<span class="text-danger">{% trans 'DANGER : Delete this task' %} "{{ thetask.name }}(id:{{ thetask.id }})" ?</span>',
                placement: 'bottom'
            });
        });

    </script>
{% endblock %}
