{% extends "base.html" %}{% load staticfiles customer_tags bootstrap %}

{% block title %}Todo{% endblock %}

{#{% block head %}#}
{#<style type="text/css">#}
{#    {{ css | safe }}#}
{#</style>#}
{#{% endblock %}#}

{% block content %}

    <div class="container-fluid container-responsive">

{#        {% include 'includes/blank-div-row.html' %}#}

        <div class="row">

            <!-- main col -->
            <div class="col-lg-10 col-lg-offset-1">

                <div class="row">
                    <div class="bs-component">
                        <h2 class="text-center">{{ object.name | upper }}</h2>

                        <div class="well bs-component">

                            {% if form.errors %}
                                <div class="bs-component">
                                    <div class="alert alert-dismissible alert-danger">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <strong>Oops!</strong>
                                        {% for err in form.errors.values %}{{ err }}{% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            <form class="form-horizontal" method="post" action="{% url 'todolist' object.list.id %}">
                                {% csrf_token %}
                                {{ form | bootstrap_horizontal }}
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}

{% block script %}
{% endblock %}