{% extends "base.html" %}{% load customer_tags staticfiles i18n %}

{% block title %}{% trans 'Todos' %}{% endblock %}

{% block head %}
{#    <link rel="{% static 'jqueryui/dragdrop/jquery-ui.min.css' %}">#}
    <script language="JavaScript" src="{% static 'jqueryui/dragdrop/jquery-ui.min.js' %}"></script>
    <script language="JavaScript" src="{% static 'twido/js/bootstrap-confirmation.min.js' %}"></script>
    {% include 'includes/editable-head-ref.html' %}
    <script language="JavaScript" type="text/javascript">
        $.fn.editable.defaults.mode = 'inline';
        $.fn.editable.defaults.showbuttons = false;
        $.fn.editable.defaults.onblur = 'submit';
    </script>
{% endblock %}

{% block content %}

    <div class="bs-docs-section container-fluid container-responsive">

{#        {% include 'includes/blank-div-row.html' %}#}

        <div class="row">
            <!-- left col -->
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="bs-component">
                    {% include 'twido/includes-list/todolists-menu.html' %}
                </div>

                <div class="bs-component">
                    <form id="id_form_action" action="{{ request.path }}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action">
                        <div class="btn-group btn-group-justified btn-group-sm">
                            <a name="add" title="{% trans 'Create a new list' %}" class="btn btn-default btn-block"><i class="glyphicon glyphicon-list"></i> {% trans 'Create List' %}</a>
                            {% if not thelist.is_default %}
                            <a name="del" title="{% trans 'Delete current list' %}" data-toggle="confirmation" class="btn btn-default btn-block"><i class="glyphicon glyphicon-remove"></i> {% trans 'Delete List' %}</a>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>

            <!-- main col -->
            <div class="col-lg-8 col-md-8 col-sm-7">
                <div class="row">

                    <div class="bs-component">

{#                        <h2 id="listname" class="text-center">{{ thelist.name | upper }}</h2>#}
                        <div class="panel">
                            {% include 'includes/django-messags-inc.html' %}
                            {% include 'twido/includes-list/todolist-form.html' %}
                        </div>

                        {% include 'twido/includes-list/todos.html' %}
                        <div class="btn-group btn-group-justified btn-group-sm">
                            <a name="add-todo" title="{% trans 'Add a task to current list' %}" class="btn btn-info btn-block"><i class="glyphicon glyphicon-plus"></i> {% trans 'Create Task' %}</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block script %}


    <script type="text/javascript" language="JavaScript">

    $(document).ready(function(){
        var form_action = $("#id_form_action");

        $("a.btn").tooltip({container: 'body'}).click(function(e){
            var action = $(this).attr('name');
            form_action.find("input[name='action']").val(action);
            if ($.inArray(action, ['add', 'add-todo']) >= 0) form_action.submit();
            // if action is "del", need to confirm (code below)
        });

        form_action.find('a[name="del"]').confirmation({
            onConfirm: function () {
                form_action.submit();
            },
            html: 'true',
            title: '<span class="text-danger">{% trans 'DANGER : Delete list' %} "{{ thelist.name }}(id:{{ thelist.id }})" ?</span>'
                        +'<p/><p class="small">{% trans 'All tasks in this list will be moved to default list' %}',
            placement: 'right'
        });

        $(".editable").addClass('no_underline').css("cursor", "pointer");


        {# --- drag & drop to move --- #}
        $("#id_todos").find(".list-group-item").draggable({
            cursor: "move",
            cursorAt: {top: 0, left: 0},
            helper: function (event) {
{#                return $('<li class="list-group-item small">' + $(this).text() + '</li>');#}
                $(this).fadeOut().fadeIn();
                return $('<i class="glyphicon glyphicon-tasks large"></i>');
            }
        });
        $("#id_lists").find(".list-group-item").droppable({
            accept: '.list-group-item',
            classes: {
                "ui-droppable-hover": "list-group-item-info"
            },
            drop: function (event, ui) {
                if ($(this).hasClass('active')) return ;
                var list_id = $(this).data("id");
                var task_id = ui.draggable.data("id");
                move_task(task_id, list_id);
                badge_count($(this).parent().find(".active").find(".badge"), -1);
                badge_count($(this).find(".badge"), 1);
                $(this).fadeOut().fadeIn();
            }
        });

    });

    function move_task(task_id, list_id) {
        var entry = $("#id_todos").find("[data-id='" + task_id + "']");
        var task_name = entry.find("span[data-name='title']").text();
        var list_name = entry.data('name');
        $.ajax("{{ request.path }}", {
            method: 'POST',
            data: {
                action: "move-todo",
                task_id: task_id,
                list_id: list_id
            },
            success: function (resp) {
                var list_name = $("#id_lists").find("[data-id='" + list_id + "']").text();
{#                console.log(list_name);#}
                _success('{% trans 'Task "{0}" moved to list "{1}".' %}'.f(task_name, list_name), true);  // message incl
                console.debug('Todo task "' + task_name + '" (id=' + task_id + ') moved to list "' + list_name + '"');
                entry.fadeOut();
            },
            error: function (resp) {
                _error('{% trans 'Fail to move task "{0}". <br>Status: {1} <br>Content: {2}' %}'.f(
                                task_name, resp.status, resp.statusText),
                        true);    // message incl
                entry.fadeOut().fadeIn().fadeOut().fadeIn();
                return resp.status + ' ' + resp.statusText;
            }
        });
    }
    </script>
{% endblock %}
