{% extends "base.html" %}{% load customer_tags %}

{% block title %}{% trans 'Wish List' %}{% endblock %}

{% block head %}
    {% include 'includes/editable-head-ref.html' %}
    <script language="JavaScript" type="text/javascript">
        $.fn.editable.defaults.mode = 'inline';
        $.fn.editable.defaults.showbuttons = false;
        $.fn.editable.defaults.onblur = 'submit';
    </script>
{% endblock %}

{% block content %}

    <div class="bs-docs-section container-fluid container-responsive">

{#        {% include 'includes/blank-div-row.html' %}#}

        <div class="row">
            <!-- left col -->
            <div class="col-lg-3 col-md-3">
                <div class="bs-component">
                    {% include 'twido/includes-list/todolists.html' %}
                    {% include 'twido/includes-list/wishlists.html' %}
                </div>
                <div class="bs-component">
                    <a href="#" id="btn-create" class="btn btn-default"><i class="glyphicon glyphicon-file"></i> Create List</a>
                    <a href="#" id="btn-del" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i> Delete List</a>
                    <a href="#" id="btn-edit" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Create Todo</a>
                </div>
            </div>

            <!-- main col -->
            <div class="col-lg-8 col-md-8">

                <div class="row">

                    <div class="bs-component">
{#                        <h2 id="listname" class="text-center">{{ thelist.name | upper }}</h2>#}

                        <div class="panel">

                            {% include 'includes/message.html' %}

                            {% include 'twido/includes-list/todolist-form.html' %}

{#                            {% if form.errors %}#}
{#                                <div class="bs-component">#}
{#                                    <div class="alert alert-dismissible alert-danger">#}
{#                                        <button type="button" class="close" data-dismiss="alert">×</button>#}
{#                                        <strong>Oops!</strong>#}
{#                                        {% for err in form.errors.values %}{{ err }}{% endfor %}#}
{#                                    </div>#}
{#                                </div>#}
{#                            {% endif %}#}

{#                            <form class="form-horizontal " method="post" action="{% url 'todolist' thelist.id %}">#}
{#                                {% csrf_token %}#}
{#                                <fieldset>#}
{#                                    <legend class="edit">{{ thelist.name }}</legend>#}
{##}
{#                                    <!-- name -->#}
{#                                    <div class="form-group">#}
{#                                        <label for="name" class="col-lg-2 control-label">List Name</label>#}
{##}
{#                                        <div class="col-lg-10">#}
{#                                            <span id="name" data-type="text" data-pk="{{ thelist.id }}"#}
{#                                                  data-url="{{ request.path }}">#}
{#                                                {{ thelist.name }}#}
{#                                            </span>#}
{#                                        </div>#}
{#                                    </div>#}
{##}
{#                                    <!-- reminder -->#}
{#                                    <div class="form-group">#}
{#                                        <label for="reminder" class="col-lg-2 control-label">Reminder</label>#}
{##}
{#                                        <div class="col-lg-10">#}
{#                                            <span id="reminder" data-type="datetime" data-pk="{{ thelist.id }}"#}
{#                                                  data-url="{{ request.path }}">{{ thelist.reminder | default_if_none:'' }}</span>#}
{#                                            <span class="help-block">The time to remind me.</span>#}
{#                                        </div>#}
{#                                    </div>#}
{##}
{#                                    <!-- related users -->#}
{#                                    <div class="form-group">#}
{#                                        <label for="related_users" class="col-lg-2 control-label">Related Persons</label>#}
{##}
{#                                        <div class="col-lg-10">#}
{#                                            <span id="related_users" data-type="select2" data-pk="{{ thelist.id }}"#}
{#                                                  data-url="{{ request.path }}"#}
{#                                                  data-value="{{ thelist.related_users | default_if_none:'' }}">#}
{#                                                {{ thelist.related_users | default_if_none:'' }}</span>#}
{#                                            <ul class="list-inline" id="id_related_edit">#}
{#                                                {% for profile in thelist.get_related_profiles %}#}
{#                                                <li><img src="{{ profile.get_img_url }}" class="avatar img-cycle" /></li>#}
{#                                                {% endfor %}#}
{#                                            </ul>#}
{#                                            <span class="help-block">Related persons.</span>#}
{##}
{#                                        </div>#}
{#                                    </div>#}
{##}
{#                                    <!-- long text -->#}
{#                                    <div class="form-group">#}
{#                                        <label for="text" class="col-lg-2 control-label">Description</label>#}
{##}
{#                                        <div class="col-lg-10">#}
{#                                            <span id="text" data-type="textarea" data-pk="{{ thelist.id }}"#}
{#                                                  data-url="{{ request.path }}">{{ thelist.text | default_if_none:'' }}</span>#}
{#                                            <span class="help-block">Long description.</span>#}
{#                                        </div>#}
{##}
{#                                    </div>#}
{##}
{#                                    <!-- form buttons -->#}
{#                                    <div class="form-group edit">#}
{#                                        <div class="col-lg-10 col-lg-offset-2">#}
{#                                            <button id="btn-cancel" type="reset" class="btn btn-default">Cancel</button>#}
{#                                            <button id="btn-submit" type="submit" class="btn btn-primary">Submit#}
{#                                            </button>#}
{#                                            <input id="id_list_id" type="hidden" name="id" value="{{ thelist.id }}"/>#}
{#                                        </div>#}
{#                                    </div>#}
{##}
{#                                </fieldset>#}
{#                            </form>#}

                        </div>
                    </div>

                    <div class="bs-component">
                        {% include 'twido/includes-list/todos.html' %}
                    </div>


                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block script %}

    <script type="text/javascript" language="JavaScript">
        $(".editable").addClass('no_underline').css("cursor", "pointer");
    </script>
{% endblock %}