{# TodoList menu #}
{# vars: thelist - current list to display #}
{#       lists - query of all lists #}
{#       sys_lists - all system smart list. (use SysList to access) #}

{% load i18n %}<!-- BEGIN lists menu -->

                    <div class="btn-group btn-group-sm" name="sys_lists_incl">
                        {% for lst in sys_lists.values %}
                            <a href="{% url 'list' lst.id %}" data-id="{{ lst.id }}" data-name="{{ lst.name }}"
                               class="btn {% if thelist.id == lst.id %}active{% endif %}">
                                <i class="glyphicon {% if thelist.id == lst.id %}glyphicon-search{% else %}glyphicon-search{% endif %} small"> </i>
                                  {% trans lst.get_name %}
{#                                <span class="badge">{{ lst.tasks.count }}</span>#}
                            </a>
                        {% endfor %}
                    </div>

                    <div class="list-group" name="lists_incl"  style="overflow-y: auto; max-height: 400px; ">
                        <a href="{% url 'list' %}" data-id="{{ thelist.default.id }}" data-name="{{ thelist.default.name }}"
                           class="list-group-item {% if thelist.is_default %}active{% endif %}">
                            <h4 class="list-group-item-heading">{% trans 'Lists' %}</h4>
                        </a>
                        {% for lst in lists %}
                            {% if not lst.is_sys %}
                            <a href="{% url 'list' lst.id %}" data-id="{{ lst.id }}" data-name="{{ lst.name }}"
                               class="list-group-item dropable {% if thelist.id == lst.id %}active{% endif %}">
                                <i class="glyphicon {% if thelist.id == lst.id %}glyphicon-list-alt{% else %}glyphicon-list{% endif %} small"> </i>
                                  {{ lst.get_name }}
                                <span class="badge">{{ lst.task_set.count }}</span></a>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <script language="JavaScript" type="text/javascript">
                        $(document).ready(function(){
                            var menu_container = $('[name="lists_incl"]');
                            scroll_to_div(menu_container, menu_container.find(".list-group-item.active"));
                        });
                        function scroll_to_div(container, div) {
                            // jquery obj
                            if (container.length && div.length) {
                                container.animate({
                                    scrollTop: div.offset().top - container.offset().top
                                });
                            }
                        }
                    </script>
<!-- END lists menu -->