{# Tasks list (read only) #}
{# vars: page - current page of tasks (pagination instance or iterable) #}
{#       taskstatus - model TaskStatus #}
{#       tasks_fields - tuple of supported fields. By default, show all. (e.g. 'name', 'text') #}
{#       tasks_editable - tuple of supported editable field names. By default, none is editable. (e.g. 'name', 'text') #}
{#       tasks_actions - tuple of supported actions. By default, no action available. ('detail', 'del') #}
{#       tasks_empty_well - boolean to enable/disable messages when tasks is empty. By default, false. #}

{% load i18n customer_tags %}<!-- BEGIN of tasks -->
{#                        <div class="bs-component">#}
                            <ul class="list-group" name="tasks_incl">
                                {% for task in page %}
                                    <li data-id="{{ task.id }}" class="list-group-item task-item">
                                        <ul class="list-inline">
                                            {% if not tasks_fields or 'status' in tasks_fields %}
                                            <li><span title="{% trans 'Status' %}: {{ task.get_status_text }}" data-name="status" data-type="select" data-pk="{{ task.id }}"
                                                  data-url="{{ task.get_view_path }}"><i class="{{ task.get_status_glyphicon }}"></i></span></li>
                                            {% endif %}
                                            {% if not tasks_fields or 'reminder' in tasks_fields %}
                                            <li class="top-right"><span title="{% trans 'Reminder' %}" class="small" data-name="reminder" data-type="datetime" data-pk="{{ task.id }}"
                                                  data-url="{{ task.get_view_path }}">{{ task.reminder |default_if_none:'<i class="glyphicon glyphicon-time"></i>' }}</span></li>
                                            {% endif %}
                                            {% if not tasks_fields or 'title' in tasks_fields %}
                                            <li><span data-name="title" data-type="text" data-pk="{{ task.id }}"
                                                  data-url="{{ task.get_view_path }}">{{ task.title | url2link }}</span></li>
                                            {% endif %}
                                            {% if not tasks_fields or 'labels' in tasks_fields %}
                                            <li class="bottom-right"><span title="{% trans 'Labels' %}" data-name="labels" data-type="select2" data-pk="{{ task.id }}"
                                                  data-url="{{ task.get_view_path }}">{{ task.labels| default_if_none:'' }}</span></li>
                                            {% endif %}
                                            {% if tasks_actions %}
                                            <li class="buttons small" style="white-space: nowrap; display: none;">
                                                {% if 'detail' in tasks_actions %}
                                                <a name="detail" href="{{ task.get_view_path }}" title="{% trans 'Detail' %}" class="label label-info small"><i class="glyphicon glyphicon-list-alt"></i></a>
                                                {% endif %}
                                                {% if 'del' in tasks_actions %}
                                                <a name="del-task" data-task-id="{{ task.id }}"  title="{% trans 'Delete' %}" class="label label-danger small"><i class="glyphicon glyphicon-remove"></i></a>
                                                {% endif %}
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% if tasks_empty_well and not page %}
                            <div class="well">
                                {% trans 'List is empty. Please add task by clicking the button.' %}
                            </div>
                            {% endif %}
{#                        </div>#}
                        <div class="text-center">
                            {% include 'includes/paginatition.html' %}
                        </div>

                        <script language="JavaScript" type="text/javascript">

                            $(document).ready(function(){
                                make_task_fields_editable([{% for fld in tasks_editables %}"{{ fld }}",{% endfor %}],
                                [{% for a in tasks_actions %}"{{ a }}",{% endfor %}]);
                            });


                            function make_task_fields_editable(fields, actions) {
                                /* arg fields is editable fields */

                                var tasks_container = $("ul[name='tasks_incl']");

                                var field_status = tasks_container.find('span[data-name="status"]');
                                field_status.tooltip();
                                if ($.inArray('status', fields) >= 0) {
                                    field_status.editable({
                                        escape: false,
                                        source: [
                                            {% for value, text in taskstatus.Choices %}
                                                {value: {{ value }}, text: "{{ text }}"},
                                            {% endfor %}
                                        ],
                                        display: function (value, resp) {
                                            {# Do nothing. Keep for icon display rendering #}
                                        },
                                        success: function (response, newValue) {
                                            if (response.status == 'error')
                                                return response.msg; //msg will be shown in editable form
                                        }
                                    }).on('save', function (e, params) {
                                        $(this).html('<i class="' + params.response.status_icon_class + '"></i>')
                                                .attr("data-original-title", '{% trans 'Status' %}: '+params.response.status_text)
                                                .tooltip("show");
                                    });
                                }

                                var field_labels = tasks_container.find('span[data-name="labels"]');
                                field_labels.tooltip();
                                if ($.inArray('labels', fields) >= 0) {
                                    field_labels.editable({
                                        showbuttons: 'true',
                                        select2: {
                                            width: '200px',
                                            tags: 'true',
                                            allowClear: 'true',
                                            placeholder: 'enter labels',
                                            multiple: 'true',
                                            minimumInputLength: 2,
                                            delay: 250,
                                            initSelection: function (option, callback) {
                                                var origin = option.closest("li").find("span[data-name='labels']").children();//.text().trim().split(/\s|,/);
                                                var data = [];
                                                $(origin).each(function () {
                                                    var t = $(this).text();
                                                    data.push({
                                                        id: t,
                                                        text: t
                                                    });
                                                });
                                                callback(data);
                                            }
                                        },
                                        display: function (value, resp) {
                                            var target = $(this).closest("li").find("span[data-name='labels']");
                                            display_labels(target, value);
                                        },
                                        success: function (response, newValue) {
                                            if (response.status == 'error') return response.msg; //msg will be shown in editable form
                                        }
                                    });
                                } else {
                                    field_labels.each(function (idx, e) {
                                        display_labels($(this), $(this).text());
                                    });
                                }

                                if ($.inArray('title', fields) >= 0) {
                                    tasks_container.find('span[data-name="title"]').editable({
                                        {#                mode: 'popup',#}
                                        {#                placement: 'top',#}
                                        allClear: 'true',
                                        {#                                    tpl: "<input type='text' style='width: 400px'>",#}
                                        {#                showbuttons: true,#}
                                        success: function (response, newValue) {
                                            if (response.status == 'error') return response.msg; //msg will be shown in editable form
                                        }
                                    });
                                }

                                if ($.inArray('reminder', fields) >= 0) {
                                    tasks_container.find('span[data-name="reminder"]').tooltip().editable({
                                        mode: 'popup',
                                        {#                                    showbuttons: 'true',#}
                                        placement: 'left',
                                        allowClear: 'true',
                                        {#                viewFormat: 'dd/mm/yyyy hh:ii',#}
                                        success: function (response, newValue) {
                                            if (response.status == 'error') return response.msg; //msg will be shown in editable form
                                        }
                                    });
                                }


                                if (actions) {
                                    // tasks inline buttons
                                    tasks_container.find("ul").mouseover(function (e) {
                                        $(this).find(".buttons").show();
                                        if (e.target && e.target.nodeName == 'A') {
                                            $(e.target).tooltip('show');
                                        };
                                    }).mouseout(function (e) {
                                        $(this).find(".buttons").hide();
                                    }).find("a[name='del-task']").confirmation({
                                        onShow: function(e, obj) {
                                            $(obj).closest('ul').unbind('mouseout');
                                        },
                                        onHide: function(e, obj) {
                                            $(obj).closest('ul').bind('mouseout', function (e) {
                                                $(this).find(".buttons").hide();
                                            });
                                        },
                                        onConfirm: function (e, obj) {
                                            del_task(obj.data('task-id'));
                                        },
                                        html: 'true',
                                        title: '<span class="text-danger">{% trans 'DANGER : Delete this task' %} ?</span>',
                                        placement: 'bottom'
                                    });
                                }

                            };

                            function display_labels(target, value) {
                                if (value && value.length) {
                                    var values = value.toString().split(',');
                                    var html = '';
                                    $(values).each(function () {
                                        html += '<span class="label label-default">' + this + '</span> ';
                                    });
                                    target.html(html);
                                } else {
                                    target.html('<i class="glyphicon glyphicon-tags"></i>');
                                }
                            }

                            function del_task(task_id) {
                                var entry = $("ul[name='tasks_incl']").find("[data-id='" + task_id + "']");
                                var task_name = entry.find("span[data-name='title']").text();

                                $.ajax("{{ request.path }}", {
                                    method: 'POST',
                                    data: {
                                        action: "del-task",
                                        task_id: task_id
                                    },
                                    success: function (resp) {
                                        _success('{% trans 'Task "{0}" deleted.' %}'.f(task_name), true);  // message incl
                                        console.debug('Task "' + task_name + '" (id=' + task_id + ') deleted.');
                                        entry.fadeOut();
                                    },
                                    error: function (resp) {
                                        _error('{% trans 'Fail to delete task "{0}". <br>Status: {1} <br>Content: {2}' %}'.f(
                                                task_name, resp.status, resp.statusText),
                                                true);    // message incl
                                        entry.fadeOut().fadeIn().fadeOut().fadeIn();
                                        return resp.status + ' ' + resp.statusText;
                                    }
                                });
                            }

                        </script>
<!-- END of tasks -->