{# Task action buttons #}
{# vars: thelist - (optional) current list to display #}

{% load i18n %}
<!-- BEGIN  Task buttons -->

                        <!-- buttons for task -->
                        <form id="id_form_task_action" action="{% if thelist %}{% url 'list' thelist.id %}{% else %}{% url 'list' %}{% endif %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="action">
                            <div class="btn-group btn-group-justified btn-group-sm">
                                {% if not thelist.is_sys or thelist.is_default %}
                                <a name="add-task" title="{% trans 'Add a task to current list' %}" class="btn btn-info btn-block"><i class="glyphicon glyphicon-plus"></i> {% trans 'Create Task' %}</a>
                                {% endif %}
                                {% if thetask %}
                                <a name="del-task" title="{% trans 'Delete current task' %}" class="btn btn-info btn-block"><i class="glyphicon glyphicon-remove"></i> {% trans 'Delete Task' %}</a>
                                {% endif %}
                            </div>
                        </form>

                        <script language="JavaScript" type="text/javascript">
                            $(document).ready(function() {

                                var form_task_actions = $("#id_form_task_action");

                                form_task_actions.find("a.btn").tooltip({container: 'body'}).click(function (e) {
                                    var action = $(this).attr('name');
                                    if (!action) return;
                                    form_task_actions.find("input[name='action']").val(action);
                                    // if action is "del" related, need to confirm
                                    // if upload, need to let user to choose file.
                                    if ($.inArray(action, ['del', 'del-task', 'import']) < 0) form_task_actions.submit();
                                    {#            $(this).disable();#}
                                });
                                form_task_actions.find("a[name='del-task']").confirmation({
{#                                    onShow: function(e, obj) {#}
{#                                        $(obj).closest('ul').unbind('mouseout');#}
{#                                    },#}
{#                                    onHide: function(e, obj) {#}
{#                                        $(obj).closest('ul').bind('mouseout', function (e) {#}
{#                                            $(this).find(".buttons").hide();#}
{#                                        });#}
{#                                    },#}
                                    onConfirm: function (e, obj) {
                                        del_selected_task(obj.data('task-id'));
                                    },
                                    html: 'true',
                                    title: '<span class="text-danger">{% trans 'DANGER : Delete this task' %} ?</span>',
                                    placement: 'bottom'
                                });
                            });


                            function del_selected_task(task_id) {
                                var entry = $("[name='tasks_incl']").find(".active");
                                var task_name = entry.find("[data-name='title']").text();

                                if (entry.length == 0) {
                                    _error('{% trans "No task selected. please select one to delete." %}');
                                    return;
                                }

                                $.ajax("{{ request.path }}", {
                                    method: 'POST',
                                    data: {
                                        action: "del-task",
                                        task_id: task_id
                                    },
                                    success: function (resp) {
                                        _success('{% trans 'Task "{0}" deleted.' %}'.f(task_name), true);  // message incl
                                        console.debug('Task "' + task_name + '" (id=' + task_id + ') deleted.');
                                        entry.fadeOut();
                                    },
                                    error: function (resp) {
                                        if (resp.readyState == 0)
                                            _error('{% trans "Connection error." %}');
                                        else
                                            _error('{% trans 'Fail to delete task "{0}". <br>Status: {1} <br>Content: {2}' %}'.f(
                                                            task_name, resp.status, resp.statusText),
                                                    true);    // message incl
                                        entry.fadeOut().fadeIn().fadeOut().fadeIn();
                                        return resp.status + ' ' + resp.statusText;
                                    }
                                });
                            }
                        </script>
<!-- END  Task buttons -->