{# TodoList menu #}
{# vars: thelist - current list to display #}
{#       todolists - query of all todolists #}

{% load i18n %}<!-- BEGIN todolists menu -->

                    <div id="id_lists" class="list-group">
                        <a href="{% url 'todolist' %}" data-id="{{ thelist.default.id }}" data-name="{{ thelist.default.name }}" class="list-group-item {% if thelist.is_default %}active{% endif %}">
{#                            <span class="badge">{{ thelist.todo_set.count }}</span>#}
                            <h4 class="list-group-item-heading">{% trans 'Todo List' %}</h4>
                        </a>
                        {% for lst in todolists %}
                            {% if not lst.is_default %}
                            <a href="{% url 'todolist' lst.id %}" data-id="{{ lst.id }}" data-name="{{ lst.name }}" class="list-group-item {% if thelist.id == lst.id %}active{% endif %}">
                                <i class="glyphicon {% if thelist.id == lst.id %}glyphicon-folder-open{% else %}glyphicon-folder-close{% endif %} small"> </i>
                                  {{ lst.name }}
                                <span class="badge">{{ lst.todo_set.count }}</span></a>
                            {% endif %}
                        {% endfor %}
                    </div>

<!-- END todolists menu -->